      <div class="my-5 row justify-content-center text-black-50">
        <div>
          <span>
            XXXXXXXX主办　XXXXXXXX承办　版权所有：XXXXXX 鄂ICP备00000000号-0　鄂公网安备 00000000000000号
          </span>
        </div>
        <div>
          <span>
            电话：0000-0000000　网站建设及维护：0000-0000000　邮箱：abc@a.com　网站标识码：0000000000
          </span>
        </div>
      </div>
