{%
  set links = [
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: '#', text: '相关链接'},
    {href: './admin/content', text: '登录后台'},
]
%}
          <div class="row my-1 mx-0 p-3 news-block">
{% for i in links %}
            <a class="col-auto text-black-50" href="{{ i.href }}">{{ i.text }}</a>
{% endfor %}
          </div>
