{% extends "html.html.twig" %}

{% block main %}
  {{ include('breadcrumb.html.twig') }}

  <article class="bg-white rounded p-5">
    <h2 class="text-center my-3">湖北上半年GDP为17480亿元，就业形势总体稳定</h2>
    <div class="text-secondary py-3 m-3 border-bottom text-center">
      <span class="mr-5">2020年7月16日</span>
      <span class="mr-5">来源： 中国政府网</span>
      <span class="">作者： XXX</span>
    </div>
    <div class="text-dark my-4 article-content">
      <p>　　根据湖北省统计局7月20日公布的数据，上半年，湖北地区生产总值17480.51亿元，按可比价格计算，同比下降19.3%，降幅较一季度收窄19.9个百分点。</p>
      <p>　　分产业看，第一产业增加值1320.98亿元，下降7.9%，降幅较一季度收窄17.4个百分点；第二产业增加值6833.01亿元，下降23.3%，降幅较一季度收窄24.9个百分点；第三产业增加值9326.52亿元，下降17.2%，降幅较一季度收窄16.1个百分点。</p>
      <p>　　农业生产稳步恢复，上半年，全省农林牧渔业增加值1396.58亿元，按可比价格计算下降7.6%，降幅较一季度收窄17.2个百分点。夏粮产量471.96万吨，增长3.3%；夏油产量241.04万吨，增长14.0%。</p>
      <p>　　蔬菜产量1878.43万吨，下降3.8%；生猪出栏1261.08万头，下降33.5%；牛出栏55.82万头，下降9.6%；羊出栏228.38万只，下降29.6%；家禽出笼20111.16万只，下降11.9%；禽蛋产量91.01万吨，增长5.9%。其中，二季度生猪、牛出栏量降幅较一季度分别收窄48.4个和8.5个个百分点；羊、家禽出栏（笼）量增速转正，分别增长1.5%和25.8%。水产品产量218.43万吨，下降3.7%。</p>
      <p>　　工业生产加快恢复。上半年，全省规模以上工业增加值下降20.8%，降幅较一季度收窄25.0个百分点。6月，全省规模以上工业增加值增长2%，较3月提高48.9个百分点。</p>
      <p>　　全省41个行业大类中有22个实现正增长，增长面较3月扩大46.4个百分点。全省15个千亿产业中有11个产业实现正增长。石油、造纸、有色行业增速较高，分别增长13.5%、11.6%和8.3%。建材、电气和汽车行业回升较大，增速较3月分别回升68.7个、65.7个和60.8个百分点。</p>
      <p>　　高技术制造业增长8.8%，快于全部规上工业6.8个百分点。重点高新产品锂离子电池、微型计算机设备和光纤产量分别增长48.5%、17.8%和10.8%。全省14个市州规上工业增加值实现正增长，增长面超过八成。</p>
      <p>　　固定资产投资逐步恢复。上半年，全省固定资产投资（不含农户）下降56.2%，降幅比一季度收窄26.6个百分点。从投资结构看，全省民间投资、基础设施投资、工业投资分别下降57.0%、58.5%和61.6%，降幅较一季度分别收窄25.6个、25.9个和23.4个百分点。高技术制造业投资下降51.2%，降幅较一季度收窄30.3个百分点，高于制造业投资增速10.7个百分点。全省完成房地产开发投资1604.51亿元，下降38.3%，降幅较一季度收窄35.4个百分点。</p>
      <p>　　消费领域持续恢复。上半年，全省共实现社会消费品零售总额7062.43亿元，下降34.1%，降幅较一季度收窄10.8个百分点。其中，全省限额以上企业（单位）共实现消费品零售额2525.36亿元，下降31.0%，降幅较一季度收窄18.1个百分点。</p>
      <p>　　分行业看，限额以上批发业、零售业、住宿业、餐饮业销售额（营业额）分别下降23.4%、27.3%、45.8%、42.0%，降幅较一季度分别收窄14.3个、17.9个、2.3个、15.6个百分点。基本生活品消费恢复较快。粮油、食品类限上商品零售额下降11.3%，日用品类下降18.3%，中西药品类下降6.9%，降幅较一季度分别收窄8.1个、13.5个、7.7个百分点。网络零售持续向好。全省限额以上企业（单位）通过公共网络实现商品零售额423.37亿元，下降11.2%，降幅较一季度收窄24.0个百分点。</p>
      <p>　　出口降幅持续收窄。上半年，全省完成人民币计价进出口总额1666.6亿元，下降1.5 %，降幅较一季度收窄19.4个百分点。其中，出口总额982.7亿元，下降7.6%，降幅较一季度收窄30.5个百分点；进口总额683.9亿元，增长8.8%，增速较一季度下降2.3个百分点。</p>
      <p>　　财政收支降幅收窄。上半年，全省地方一般公共预算收入完成1208.88亿元，下降38.4%，降幅较一季度收窄9.2个百分点。其中，税收收入955.98亿元，下降36.4%。地方一般公共预算支出完成3543.21亿元，下降12.5%，降幅较一季度收窄1.6个百分点。</p>
      <p>　　金融市场平稳运行。截止6月末，全省金融机构各项存款余额（人民币口径）为64487.31亿元，增长7.8%，比年初增加4739.60亿元。各项贷款余额为55169.98亿元，增长13.0%，比年初增加4506.02亿元。</p>
      <p>　　价格运行总体平稳。上半年，全省居民消费价格同比上涨4.5%，较一季度回落1.6个百分点。其中，城市上涨4.3%，农村上涨5.1%。分类别看，八大类商品价格“七涨一降”。其中食品烟酒价格上涨13.7%，衣着价格上涨0.2%，居住价格上涨0.5%，生活用品及服务价格上涨0.1%，交通和通信价格下降3.2%，教育文化和娱乐价格上涨1.8%，医疗保健价格上涨2.4%，其他用品和服务价格上涨5.5%。</p>
      <p>　　就业形势总体稳定。上半年，全省城镇新增就业人员25.22万人，同比下降52.2%，降幅较一季度收窄23.0个百分点。“四上”单位从业人员599.08万人，下降9.6%，降幅较一季度收窄4.0个百分点。农村外出从业人员同比下降9.9%，降幅较一季度收窄43.4个百分点。</p>
      <p>　　居民收入降幅趋缓。上半年，全省城镇和农村常住居民人均可支配收入分别为17115元和6357元，同比分别下降10.1%和8.8%，降幅较一季度分别收窄1.7个和1.4个百分点。</p>
    </div>
    <div class="text-secondary text-right my-2">
      <span>责任编辑: XXX </span>
    </div>
  </article>
{% endblock %}
