body {
	background: rgb(175,228,255);
	background: linear-gradient(94deg, rgba(175,228,255,1) 25%, rgba(233,249,255,1) 67%);
}

nav#nav-menu {
    background-color: #1585b7;
}

.block-title {
	background: rgb(85,194,249);
	background: linear-gradient(90deg, rgba(140,216,255,1) 0%, rgba(223,249,255,1) 75%);
    font-size: 1.4em;
    padding: 0.3em 0;
}

li.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.news-block{
    background-color: #fff;
}

.news-block li.list-group-item {
    border: 0;
}

.border-top-red {
	border-top: .4rem solid #dc3545!important;
}

.link-more {
	font-size: .7em;
}

div.col,
div.col-2,
div.col-3,
div.col-auto,
img.col,
figure.col{
  padding-left: 3px;
  padding-right: 3px;
}

.row {
  margin-left: -3px;
  margin-right: -3px;
}

#nav-menu {
	background: rgb(24,147,212);
	background: linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 50%, rgba(24,147,212,1) 100%);
}

.nav-item:hover{
	background: rgb(125,170,255);
	background: linear-gradient(180deg, rgba(86,187,241,1) 0%, rgba(24,147,212,1) 50%, rgba(86,187,241,1) 100%);
}

a.text-light:hover {
	font-weight: 700;
	color: white !important;
}

.title-text-bg {
	background: rgb(24,147,212);
	background: linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 35%, rgba(140,216,255,1) 100%);
	background: linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 35%, rgba(171,227,255,1) 100%);
}

.nav-link {
	font-size: 1.2em;
}

.dashed-border {
	border-top: 2px dashed #dc3545;
}

.list-group-item-action:hover {
	background-color: #dff9ff;
}

li.list-group-item a:hover {
	text-decoration: none;
}

.border-bottom {
	border: 0;
}

.news-list a {
	font-size: 1.2em;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid green;
}
