body {
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #93d9ec 41%);
}

nav#nav-menu {
    background-color: #1585b7;
}

li.list-group-item {
    background-color: #d4e1e6;
}

.block-title {
	background: rgb(9,142,210);
	background: linear-gradient(94deg, rgba(9,142,210,1) 25%, rgba(168,228,251,1) 44%);
    font-size: 1.4em;
    padding: 0.3em 0;
}

li.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.news-block{
    background-color: #d4e1e6;
}

.news-block li.list-group-item {
    border: 0;
}

.border-top-red {
	border-top: .4rem solid #dc3545!important;
}
